<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <section>
      <ion-button expand="block" (click)="downloadPdf()">Generar PDF</ion-button>
    </section>
  </ion-card>
  <ion-item *ngFor="let pedido of pedidos" (click)="deletePed(pedido)">
    <ion-label>| CAT-{{pedido.catalogo}}| PAG-{{pedido.pagina}}| CODIGO-{{pedido.codigo}}</ion-label>
  </ion-item>

</ion-content>