<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <section>
      <ion-button expand="block" (click)="downloadPdf()">Generar PDF</ion-button>
    </section>
  </ion-card>
  <ion-item>
    <ion-badge color="secondary" slot="start">Pagina</ion-badge>
    <ion-label>Codigo</ion-label>
    <ion-badge color="danger" slot="end">Catalogo</ion-badge>
  </ion-item>
  <ion-item *ngFor="let pedido of pedidos" (click)="deletePed(pedido)">
    <ion-badge color="secondary" slot="start">{{pedido.pagina}}</ion-badge>
    <ion-label>{{pedido.codigo}}</ion-label>
    <ion-badge color="danger" slot="end">{{pedido.catalogo}}</ion-badge>
  </ion-item>

</ion-content>