<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Listado de Pedido
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Catalogo</ion-label>
        <ion-input [(ngModel)]="pedido.catalogo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pagina</ion-label>
        <ion-input [(ngModel)]="pedido.pagina"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input [(ngModel)]="pedido.codigo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input [(ngModel)]="pedido.color"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Talla</ion-label>
        <ion-input [(ngModel)]="pedido.talla"></ion-input>
      </ion-item>
      <br>
      <section>
        <ion-button (click)="savePed()" expand="block">Agregar</ion-button>
      </section>
    </ion-card-content>
  </ion-card>
  
</ion-content>
